.comment {
    // background-color: #C6C6C6;
    background-image: linear-gradient(#c6c6c6, #9e9e9e);
    border-style: outset;
    border-color: #AAAAAA;
    border-width: 3px;
    border-radius: 7px;
    margin-left: 55px;
    margin-bottom: 20px;
    width: 600px;

    --border-radius: 7px;
    --font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    .commentHeader {
        height: 35px;
        padding: 10px;
        border-style: solid;
        border-radius: 7px;
        border-width: 1px;
        border-color: #AAAAAA;
        color: #ffffff;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
      
        .username {
            font-size: 15px;
        }

        .timeStamp {
            margin-top: 5px;
            font-size: 12px
        }
    
    }
   

    .commentText {
        //min-height: 135px;
        padding: 10px;
        border-style: solid;
        border-radius: 7px;
        border-width: 1px;
        border-color: #AAAAAA;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        
    }
}