@import "../../theme.scss";

.navBar {
    @include themify($themes){
    background-color: themed("background");
    position: fixed;
    height: 100%;
    width: 130px;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-x: hidden;
    padding-top: 60px;
    transition: width 0.5s;
    border-right: 2px solid themed("borders");
    &.closed {
        width: 50px;
    }

    .toggleButton {
        background-color: themed("background2");
        position: absolute;
        top: 10px;
        border: 0rch;
        border-radius: 6px;
        font-size: 25px;
        margin-left: 10px;

    }

    .navLinks {
        display: flex;
        flex-direction:column;
        gap: 10px;
        a {
            text-decoration: none;
            font-size: 25px;
            color: themed("textcolor1");
            display: block;
            padding-left: 10px;
            transition-duration: 1s;
            
        }
        
    }
}
}
